<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="default">
        <property name="LOGS" value="src/main/resources/logs/"/>
    </springProfile>


    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <!-- 出力するログのパターン -->
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] %message%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 1日ごとに新しいログファイルを作成。過去30日分までのファイルを保存しておくようにする -->
            <fileNamePattern>${LOGS}%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>


    <!-- LOG everything at INFO level -->
    <logger name="com.example.stock_check_api.filter.ApiLogFilter" level="INFO">
        <appender-ref ref="RollingFile"/>
    </logger>
</configuration>