<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="/css/logs.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Signika&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

</body>
</html>
